In [1]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

WARNING: Using incubator modules: jdk.incubator.vector
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
26/02/22 14:21:30 WARN Utils: Your hostname, Robs-MacBook-Air.local, resolves to a loopback address: 127.0.0.1; using 192.168.0.197 instead (on interface en0)
26/02/22 14:21:30 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
26/02/22 14:21:30 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
df_green = spark.read.option("recursiveFileLookup", "true").parquet("data/pq/green")

In [3]:
df_green.createOrReplaceTempView('green')

In [4]:
df_green_revenue = spark.sql("""
SELECT 
    date_trunc('hour', lpep_pickup_datetime) AS hour, 
    PULocationID AS zone,

    SUM(total_amount) AS amount,
    COUNT(1) AS number_records
FROM
    green
WHERE
    lpep_pickup_datetime >= '2020-01-01 00:00:00'
GROUP BY
    1, 2
""")

In [5]:
df_green_revenue \
    .repartition(20) \
    .write.parquet('data/report/revenue/green', mode='overwrite')

26/02/22 14:21:36 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
26/02/22 14:21:37 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers

In [6]:
df_yellow = spark.read.option("recursiveFileLookup", "true").parquet("data/pq/yellow")
df_yellow.createOrReplaceTempView('yellow')

In [7]:
df_yellow_revenue = spark.sql("""
SELECT 
    date_trunc('hour', tpep_pickup_datetime) AS hour, 
    PULocationID AS zone,

    SUM(total_amount) AS amount,
    COUNT(1) AS number_records
FROM
    yellow
WHERE
    tpep_pickup_datetime >= '2020-01-01 00:00:00'
GROUP BY
    1, 2
""")

In [8]:
df_yellow_revenue \
    .repartition(20) \
    .write.parquet('data/report/revenue/yellow', mode='overwrite')

26/02/22 14:21:41 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
26/02/22 14:21:41 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers

In [9]:
df_green_revenue = spark.read.parquet('data/report/revenue/green')
df_yellow_revenue = spark.read.parquet('data/report/revenue/yellow')

In [10]:
df_green_revenue_tmp = df_green_revenue \
    .withColumnRenamed('amount', 'green_amount') \
    .withColumnRenamed('number_records', 'green_number_records')

df_yellow_revenue_tmp = df_yellow_revenue \
    .withColumnRenamed('amount', 'yellow_amount') \
    .withColumnRenamed('number_records', 'yellow_number_records')

In [11]:
df_join = df_green_revenue_tmp.join(df_yellow_revenue_tmp, on=['hour', 'zone'], how='outer')

In [12]:
df_join.show()

+-------------------+----+-----------------+--------------------+------------------+---------------------+
|               hour|zone|     green_amount|green_number_records|     yellow_amount|yellow_number_records|
+-------------------+----+-----------------+--------------------+------------------+---------------------+
|2020-01-01 00:00:00|  32|68.94999999999999|                   2|              18.0|                    1|
|2020-01-01 00:00:00|  51|             17.8|                   2|              31.0|                    1|
|2020-01-01 00:00:00|  71|             23.8|                   1|              NULL|                 NULL|
|2020-01-01 00:00:00|  85|            64.76|                   4|            102.56|                    3|
|2020-01-01 00:00:00| 130|           133.35|                   7|              NULL|                 NULL|
|2020-01-01 00:00:00| 136|           111.68|                   2|             168.0|                    4|
|2020-01-01 00:00:00| 143|            55.95|                   2|2142.0599999999986|                  128|
|2020-01-01 00:00:00| 159|             13.8|                   1|              58.8|                    2|
|2020-01-01 00:00:00| 167|            88.89|                   5|               9.8|                    1|
|2020-01-01 00:00:00| 191|            84.21|                   2|              57.3|                    1|
|2020-01-01 00:00:00| 197|            72.01|                   3|              NULL|                 NULL|
|2020-01-01 00:00:00| 211|             NULL|                NULL| 2412.259999999999|                  116|
|2020-01-01 00:00:00| 215|546.3600000000001|                  18|             36.11|                    1|
|2020-01-01 00:00:00| 236|            13.86|                   1| 5254.590000000002|                  339|
|2020-01-01 00:00:00| 237|             NULL|                NULL|  8141.93000000002|                  540|
|2020-01-01 00:00:00| 248|             NULL|                NULL|              25.5|                    1|
|2020-01-01 00:00:00| 254|73.82000000000001|                   3|146.04000000000002|                    4|
|2020-01-01 00:00:00| 255|666.3399999999999|                  28|            537.66|                   27|
|2020-01-01 01:00:00|   7|690.2099999999998|                  42|           1004.71|                   62|
|2020-01-01 01:00:00|  10|95.47999999999999|                   2|             57.67|                    1|
+-------------------+----+-----------------+--------------------+------------------+---------------------+
only showing top 20 rows

In [13]:
df_join.write.parquet('data/report/revenue/total', mode='overwrite')

26/02/22 14:21:44 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers

In [14]:
df_join = spark.read.parquet('data/report/revenue/total')

In [15]:
df_join

DataFrame[hour: timestamp, zone: int, green_amount: double, green_number_records: bigint, yellow_amount: double, yellow_number_records: bigint]

In [16]:
df_zones = spark.read.parquet('zones/')

In [17]:
df_result = df_join.join(df_zones, df_join.zone == df_zones.LocationID)

In [18]:
df_result.drop('LocationID', 'zone').write.parquet('tmp/revenue-zones', mode='overwrite')

26/02/22 14:21:45 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers